@model IEnumerable<Employee>


<!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">Team Members</h2>
                <h1 class="display-4 text-uppercase">Our Master Chefs</h1>
            </div>
            <div class="row g-5">
                @foreach (var item in Model)
                            {
                @if (@item.RoleJob.GetHashCode().Equals(1))
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="team-item">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="@item.Photo" width="100%" alt="@item.Name" style="width: 200px;>
                            <div class="team-overlay w-100 h-100 position-absolute top-50 start-50 translate-middle d-flex align-items-center justify-content-center">
                                
                            </div>
                        </div>
                        <div class="bg-dark border-inner text-center p-4">
                            <h4 class="text-uppercase text-primary">@item.Name</h4>
                            <p class="text-white m-0">@item.RoleJob</p>
                        </div>
                    </div>
                    
                }
                }
            </div>
        </div>
    </div>
    <!-- Team End -->
